@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}
.animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}

.colorh {
  /* background-color: rgb(12 74 110); */
  background: linear-gradient(
    to top,#64748b,#475569,#334155,#1e293b
  );
}

.colorn{
  /* background-color:rgb(12 74 110); */
  background: linear-gradient(
    to top,#64748b,#475569,#334155,#1e293b
  );
}
.colorn {
  /* background-color: rgb(7 89 133); */
}

.colora {
  /* background-color: rgb(7 89 133); */
  background: linear-gradient(
    to top,#0f172a,#475569,#0f172a,#1e293b
  );
}

.colors {
  /* background-color: rgb(3 105 161); */
  background: linear-gradient(
    to top,#64748b,#475569,#334155,#1e293b
  );
}

.colorp {
  /* background-color: rgb(10, 108, 158); */
  background: linear-gradient(
    to top,#64748b,#475569,#334155,#1e293b
  );
}

.colorc {
  /* background-color: rgb(2 132 199); */
  background: linear-gradient(
    to top,#64748b,#475569,#334155,#1e293b
  );
}

.color {
  color: white;
}

@keyframes up-down {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.animated-background {
  background: linear-gradient(to right, rgb(55 65 81));
  background-size: 400%;
  animation: animate-background infinte 10s ease-in-out;

}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0 50%;
  }
}

.shadow {
  box-shadow: 0px 25px 25px -12px rgb(125, 125, 207);
}

.animation {
  animation: changebg 10s linear infinite;
}

@keyframes changebg {

  0% {
    background-color: #636e72;
  }

  50% {
    background-color: #34495e;
  }

  100% {
    background-color: #2d3436;
  }

  0% {
    background-color: rgb(22 78 99);
  }

  25% {
    background-color: rgb(14 116 144)
  }

  50% {
    background-color: rgb(21 94 117);
  }

  75% {
    background-color: rgb(22 78 99);
  }

  100% {
    background-color: rgb(21 94 117);
  }
}





button {
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  width: 150px;
}

button span {
  display: block;
  margin-left: 0.7em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}









/* portfoloio */
.section {
  padding: 8rem 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;

}

.box {
  height: 100px;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.section-portfolio {

  align-items: center;
}

.section-portfolio p {
  max-width: 30rem;
}

.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 6.4rem;
  margin-left: 3rem;
}

.portfolio-images {
  gap: 1.5rem;
  margin-top: 6.4rem;
}

.portfolio-images img {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-portfolios {
  background-color: gray;

}

.skills-images {
  width: 100%;
}

.names {
  text-align: center;
}



@media(max-width:768px) {
  .hero-para {
    margin-right: 3rem;
  }

  .container h2,
  P {
    padding-left: 0rem;
  }

  .portfolio-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 1rem;
  }

  .portfolios-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 1rem;
  }

  .portfolio-images {
    width: 95%;
  }

  .social img {
    margin: 0 1rem;
  }

  .animated {
    animation: stop 0s  ease-in-out infinite alternate-reverse both;
  }

}

@media(max-width:645px) {

  .animated {
    animation: stop 0s  ease-in-out infinite alternate-reverse both;
  }

}


@media(max-width:450px) {


  .grid-two-column {
    grid-template-columns: 1fr;
  }

  .portfolio-images {
    display: grid;
    grid-template-columns: 1fr;

  }

  .portfolio-images img {
    width: 100%;
  }

}

.hover {
  cursor: pointer;
}



/* .wrapper, .single-card {
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}
.wrapper {
	perspective: 900px;
}
.single-card {
	text-align: center;
	transition: all 2s cubic-bezier(0.7, -0.5, 0.3, 1.8);
	transform-style: preserve-3d;
}
.wrapper:hover .single-card {
	transform: rotateY(180deg);
}
.front, .back {
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front {
	cursor: pointer;
	-webkit-backface-visibility: hidden;
  background-image: url(./assets/portfolio/autoshop.png);
	backface-visibility: hidden;
	border-radius: 50px;
	background-size: cover;
	background-position: center center;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	border-radius: 50px;
	height: 200px;
	background: #fff;
}
.content {
	padding-top: 15%;
}
.content h2 {
	font-size: 25px;
	margin: 0;
	font-weight: 200;
}
.content h4 {
	margin: 0;
} */



span{
  background: linear-gradient(120deg, #22d3ee 30%,#38bdf8,#3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} 

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
  height: 300px;
}

.cards__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 290px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  /* background-image: linear-gradient(rgba(6, 6, 6, 0), rgb(11, 9, 9)); */
  background-image: linear-gradient(rgba(7, 81, 117, 0), rgb(5, 62, 91));
  opacity: 0;
  transition: opacity .2s;
}   

.cards__overlay:hover {
  opacity: 1;
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  /* margin-bottom: 4rem; */
  padding-left: 3rem;
  color:white;
}

.card__runtime {
  font-size: .75rem;
  padding-left: 2rem;
  color: black;
}

.card__rating {
  float: right;
}

.card__description {
  font-style: italic;
  font-size: .75rem;
  font-weight:700;
  margin-bottom: 3rem;
  padding-left: 3rem;
  color:white;
}
.cards {
  display: inline-block;
  transition: transform .2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor:pointer;
  min-width:200px;
  height:300px;
  z-index:0;
  border: 1px solid rgb(99, 99, 99);
}

.color{
  color: white;
}